@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f8fafc; /* Slate 50 environment */
  color: #1e293b; /* Slate 800 text */
}
